<%# edit_url: delete_url: %>
<div class="btn-group">
  <%= link_to edit_url, class: "btn btn-sm btn-outline-dark" do %>
    <i class="bi bi-pencil pe-1"></i>Edit
  <% end %>
  <%= link_to delete_url, class: "btn btn-sm btn-outline-dark", 
      method: :delete, 
      data: { confirm: "Are you sure?" } do %>
    <i class="bi bi-trash pe-1"></i>Delete
  <% end %>
</div>
