<div id="chat" class="container scroll2">

          <strong>Mic</strong>&nbsp;
          <i>In the left frame, I'm posting Doc's Place, one of my copyrighted stories.  I'll post a part of a chapter, wait for a while so people may leave comments or questions and then post those I find interesting.</i>
          <br><br>
          <strong>Jill</strong>&nbsp;I have comments and questions.  How long have we known each other?
          <br><br>
          <strong>Mic</strong>&nbsp;10yrs.
          <br><br>
          <strong>Jill</strong>&nbsp;Yeah?  Well, you know a ton of information about me.  Why begin on this particular Saturday?  You left out a lot of back story.  What kind of first impression do readers get about me from reading about one lousy job interview?
          <br><br>
          <strong>Mic</strong>&nbsp;This story is about you and your 18mos at Doc's Place in Reno.  Peter's interview provides an introduction.  Previous events, while important, are not essential to this story.  Besides, we're on-line so we can discuss back story here in the chat frame.
          <br><br>
          <strong>Steph</strong>&nbsp;Hi, Jill.  This Mic guy sounds like a dork.  Why'd you pick him as your author?
          <br><br>
          <strong>Jill</strong>&nbsp;Hey, Steph.  Mic is a provocateur.  He gets to the point, understands cars and tech stuff, and has thick skin.
          <br><br>
          <strong>Mic</strong>&nbsp;Not a dork.  I express myself accurately and then edit myself carefully.
          <br><br>
          <strong>Steph</strong>&nbsp;I was a USC song girl.  Trust me, pal, you're a dork.
          <br><br>
          <strong>Jill</strong>&nbsp;Careful, Steph.  I told you what he is.  He wins if you react, so don't.
          <p>
            Anyway Mic, I interviewed with George Wright, Liz Coates and Louise Northcutt all day and this interview with Peter didn't happen until three o'clock.  Why didn't you include any of those?
          </p>
          <br><br>
          <strong>Mic</strong>&nbsp;Those were important interviews but those people spent most of their time with you warning you about Peter's manipulation and mind-games.  Hell, readers get that the moment you walk into that office and have the sun in your eyes.  We can discuss them later if someone asks, but we begin with your interview with Peter.
          <br><br>
          <strong>Steph</strong>&nbsp;By the way, how come the part about me is so short?
          <br><br>
          <strong>Mic</strong>&nbsp;You were never more than Jill's now-and-again plaything, Stephanie.  Peter is core.
          <br><br>
          <strong>Steph</strong>&nbsp;Ooh, you're not just a dork; you're a dick.
          <br><br>
          <strong>Mic</strong>&nbsp;;&gt;)
          <br><br>
          <strong>Jill</strong>&nbsp;Warned you, Steph.  Did I mention that he gets to the point?
          <p>
            Speaking of which, Mic, my point is that Louise is HR Manager and soon to be my boss, yet she's intimidated from the moment we meet.  For example, we're the same height but she's broad-shouldered and tense.
          </p>
          <br><br>
          <strong>Mic</strong>&nbsp;Jill, read what you just wrote.  Who cares about Louise at this point?  Peter, on the other hand, draws focus.  He looks and acts like a raptor.  We already know he manipulates like most people metabolize without conscience.  Despite all these scary features, you barely acknowledge his existence, so who is predator and who is prey?
          <br><br>
          <strong>Peter</strong>&nbsp;Listen to him, Jill.  This tale wouldn't be worth telling if it weren't for you and me so your employment interview serves as an apt introduction.  Personally though, I've never characterized us as predators but always as sociopaths.
          <br><br>
          <strong>Jill</strong>&nbsp;Peter, has it been nearly twenty years?  To what social institution did you retire?  Let me guess.  That church you attend promoted you chief brain scrambler.
          <br><br>
          <strong>Peter</strong>&nbsp;Indeed Jill, and they pay in souls so I needn't bother exchanging currency.  By the way, scribe, where did you get that "We already know he manipulates like most people metabolize" statement?  Not from your own mucous-saturated gray matter, I trust?
          <br><br>
          <strong>Mic</strong>&nbsp;Hello, Peter.  No, I got the quote from Liz Coates.  Fortunately, even though Liz is intimidated by a wolf's clothing, she is not deceived thereby.
          <br><br>
          <strong>Steph</strong>&nbsp;Hi, Peter.  I'm still doing well here in sunny Southern California.
          <br><br>
          <strong>Peter</strong>&nbsp;Stephanie, I would inquire as to the health of the chief ambassador from the land of the blonde and beautiful but I'll spare us all.  Good-bye, Jill.  I'll be watching.
          <br><br>		
          <!-- End chat //-->

</div>