<div id="story" class="container">
  <p>
    Stephanie pushes open the door and walks into the office.  Following, I step to my right, my back touching the wall.  "Peter Marriott, Jill Price," she announces and steps out, pulling the door closed.
  </p>
  <p>
    Three windows from ceiling to waist-high form the west wall.  As intended, the afternoon sun shines directly into my eyes.  In front of me, two dark green chairs face a dark green couch across a low glass table.  A gleaming oak floor reflects more sunlight into my eyes.  On a dark green area rug near the window stands a formidable oak desk.  Peter Marriott sits behind the desk with the sun over his left shoulder.
  </p>
  <p>
    Imagine Peter"s view: at the far wall stands a woman in a dark business suit with the sun in her dark eyes"five-ten, one-twenty, mid-thirties.  Her face is plain except for a three-inch scar on her left cheek.
  </p>
  <p>
    When Peter glances at the clock, I walk across the room, lean against an aluminum window frame and look down at the Reno arch and Virginia Street in shadow.  He turns his chair to face me.  Peter Marriott is tall, six-one or -two, and slim, one-seventy or -eighty.  His face is thin, giving him a hawk-like visage.  He has a slight tan with light freckles, reddish-brown hair and glacial blue eyes.
  </p>

</div>
