<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <h4>Mic's Stories </h4>


      <table class="table table-striped">
        <tbody>
          <% @stories.each do |story| %>
            <tr>
              <td><%= story.long_title %></td>
              <td>
                <%= link_to "View", back_to_story_path(story.id), class: "btn btn-sm btn-outline-dark" %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>

    </div>
  </div>
</div>

