<%# provide(:title, title) %>
<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <h4>New Story</h4>
      <%= render 'form', story: @story %>
    </div>
  </div>
</div>
