<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <h4>New Character for <%= @story.short_title %></h4>
      <%= render 'form', character: @character, post_url: story_characters_path(@story) %>
      <div class="btn-group p-2">
        <%= link_to t('show_story'), back_to_story_path(@story.id), class: "btn btn-sm btn-outline-dark" %>
        <%= link_to "All characters", story_characters_path(@story), class: "btn btn-sm btn-outline-dark" %> 
      </div>
    </div>
  </div>
</div>
