<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <h4>Editing chapter for <%= @story.short_title %></h4>
      <%= render 'form', chapter: @chapter, post_url: chapter_path(@chapter) %>
      <div class="btn-group p-2">
        <%= link_to "Delete", chapter_path(@chapter), class: "btn btn-sm btn-outline-dark", 
                    method: :delete, 
                    data: { confirm: "Are you sure? This will delete ALL chats, parts from this chapter too." } %>
        <%= link_to "Back to Story",back_to_story_path(@story.id), class: "btn btn-sm btn-outline-dark" %> 
      </div>
    </div>
  </div>
</div>
