<!-- text-center mt-auto /-->
<footer class="mt-auto small footer">
  <div class="container-fluid dark-footer">

    <div class="row p-1">
      <div class="col text-center">
        Terms & Conditions
      </div>
      <div class="col text-center">
        Privacy Policy
      </div>
    </div>
    <div class="row pb-2" style="font-size:8pt">
      <div class="col text-start">
        © 2022 Copyright:
        <a class="text-dark-footer" href="#">micstories.com</a>
      </div>
      <div class="col text-end">
        Developed by: 
        <a href="" class="text-dark-footer">NTR Computer Services</a>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-light" >
    <div class="row">
      <div class="col-3 p-1 d-flex justify-content-center">
        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png">
      </div>
      <div class="col align-self-center text-start light-footer">

      All text is the property of the author.<br/>
        <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/us/" class="text-light-footer">
          This work is licensed under a Creative Commons Attribution-Noncommercial-No Derivative Works 3.0 United States License
        </a>
     </div>
    </div>
 </div>

</footer>
